DATABASE_URL=postgresql://user:password@localhost:5432/consejo
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-here
VTI_JWT_SECRET=
NEXT_PUBLIC_VTI_LOGIN_URL=https://portal.dcc.uchile.cl/vti?app=consejo
